html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: $background-color;
}

.background {
  height: 100%; width: 100%;
  position: fixed;
  top: 0; left: 0;
}
.image-cover {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
}

#js-bg {
  display: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  &.loaded {
    display: block;
    opacity: 1;
  }
}
