extends layouts/_rem.pug

block content
  img.rem-icon(src='/assets/img/rem-head-line.svg')
  h1 REM
  h2 Your very own maid.
  p.discord-button
    a(href='https://discordapp.com/oauth2/authorize?scope=bot&client_id=181218254365130752')
      img(src='/assets/img/add-to-discord.png')
