footer
  ul
    li
      a(href='https://rembot.atlassian.net/wiki/display/REMDOCv2/Rem+v2+Documentation') DOCUMENTATION
    li
      a(href='https://discord.gg/rem') SUPPORT
    li
      a(href='https://github.com/rem-bot-industries') GITHUB
